/* Basis Grotesque — fichiers TTF vus dans ton repo */
@font-face {
  font-family: "Basis Grotesque";
  src: url("https://cdn.jsdelivr.net/gh/omnaplcroco/fonts/basis-grotesque-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basis Grotesque";
  src: url("https://cdn.jsdelivr.net/gh/omnaplcroco/fonts/basis-grotesque-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
